Source: pardus-lightdm-greeter
Section: misc
Priority: optional
Maintainer: Ali Riza KESKIN <aliriza.keskin@pardus.org.tr>
Build-Depends: debhelper (>= 10), make
Standards-Version: 4.3.0
Homepage: https://www.pardus.org.tr

Package: pardus-lightdm-greeter
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         lightdm,
         gir1.2-gtk-3.0,
         gir1.2-lightdm-1,
         gir1.2-nm-1.0,
         gir1.2-vte-2.91,
         python3-pil,
         python3-xlib,
         numlockx
Description: Pardus Greeter
 Pardus greeter for lightdm login screen
